body {
	font-size: 1.2rem;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
}
.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
section {
	display: flex;
	flex-direction: column;
	align-items: center;
}
button {
	cursor: pointer;
}
input {
	margin-bottom: 0.8rem;
}
